.home-container {
  margin: 0;
  padding: 2rem 4rem;
}

.bot-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items:baseline;
  margin-bottom: 1rem;
}

.new-character-button {
  color: var(--orange);
  font-weight: inherit;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 3px 16px;
}

.new-character-button > i {
  margin-right: 0.2rem;
}

.new-character-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--blue);
  background-color: var(--card-color);
}