.messaging-container {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.mesgs {
  padding: 1rem;
}


.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: none;
  color: var(--font-color);
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid var(--border);
  position: relative;
}

.write_msg:focus {
  border: none;
  outline: none;
}

.msg_send_btn {
  border: medium none;
  border-radius: 50%;
  color: var(--font-color);
  background: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 1rem;
  top: 11px;
}

.messaging {
  max-width: 820px;
  width: 100%;
}

.msg_history {
  height:calc(100vh - 127px);
  overflow-y: auto;
  padding-bottom: 4rem;
}
