.back-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  width: auto;
  border-radius: 100px;
  background-color: #80808071;
  color: white;
  padding: 4px 1rem;
  font-weight: inherit;
}

.back-nav:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .back-nav {
    padding: 2px 0.3rem;
  }
}
