.bot-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 135px;
  border-radius: var(--border-radius);
}

.bot-card:hover {
  background-color: var(--card-color);
  cursor: pointer;
}

.bot-title {
  margin: 16px 0;
  max-width: 95%;
  min-height: 25px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bot-card img {
  max-width: 135px;
  border-radius: 10px;
}


@media screen and (max-width: 500px) {
  .bot-card {
    width: 47%;
  }
}