.incoming_msg {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 1.5rem;
}

.chat-person-img {
  width: 44px;
}

.received_withd_msg {
  width: 100%;
}

.received_msg {
  padding-left: 1rem;
}

.received_msg > .title {
  color: var(--green);
  font-style: normal;
  margin: 0;
  font-weight: bold;
}

.received_withd_msg p {
  color: var(--font-color);
  margin: 0;
}
