.navbar {
  border-bottom: 1px solid var(--border);
  padding: 0rem 1rem !important;
  background-color: var(--background) !important;
  height: var(--nav-height);
}

.navbar-toggle {
  background: none !important;
}

.toggle-icon {
  color: white !important;
  font-size: 1.8rem;
}

.navbar-toggle:focus {
  border: none;
  outline: none;
}

.navbar a {
  color: var(--font-color) !important;
  margin-left: 1rem;
}

.navbar a:hover {
 color: cyan !important;
}


.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.9);
  /* padding: 1rem; */
  box-sizing: border-box;
  margin-top: 4px;
  border-radius: 0.5rem;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  text-transform: lowercase;
  background: linear-gradient(120deg, lime, cyan);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand-logo {
  height: 26px;
  margin-right: 1rem;
}
