.navbar {
  border-bottom: 1px solid var(--border);
  padding: 0rem 1rem !important;
  background-color: var(--background) !important;
  height: var(--nav-height);
}

.navbar * {
  color: var(--font-color) !important;
}

.navbar-brand {
  font-family: "Honk", system-ui;
  font-size: 1.6rem;
  font-weight: bolder !important;
  text-transform: lowercase;
  font-style: italic;
  background: var(--official-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand-logo {
  height: 26px;
  margin-right: 1rem;
}
