@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-color: #dbe2f0;
  --card-color: #242424;
  --background:  #0c0c0c;
  --border: #3f3f3f;
  --blue: #007bff;
  --purple: #e44cfc;
  --orange: #FFA500;;
  --green: #5ff95f;
  --border-radius: 8px;
  --official-gradient: linear-gradient(120deg, rgb(32, 211, 32), rgb(36, 214, 214));
  --nav-height: 50px;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-main {
  font-size: 1.3rem;
  font-weight: 800;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/* Change 'color' to your app's color */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
